@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image: linear-gradient(60deg,#6f4f4f,#b3541e,#ffe34a)
    }
</style>

<div class="text-center">
  <a  asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/imagesLayout/ImageGenere.png" style="width:75%" /></a>
</div>
